DATABASE_URL=postgresql+asyncpg://DB_USER:DB_PASSWORD@localhost:5432/DB_NAME
POSTGRES_USER=DB_USER
POSTGRES_PASSWORD=DB_PASSWORD
POSTGRES_DB=DB_NAME
JWT_SECRET=your_secret_key_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60  
OLLAMA_BASE_URL=http://localhost:11434 
OLLAMA_MODEL=your_choice
OLLAMA_FALLBACK_MODEL=your_choice
OLLAMA_EMBEDDING_MODEL=your_choice
EMBEDDING_DIM = 768
STORAGE_PROVIDER
AWS_S3_BUCKET
AWS_REGION
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY